*{
    margin: 0;
    padding: 0;
}
body{
    background-color: brown;
    text-align: center;
}
.container{
   height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  .score-board{
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
  }
  #reset-score-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffc7;
    border-radius: 1rem;
    border: none;
  }
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0423e4b;
    background-color: #ffffc7;
    text-align: center;
  }
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffc7;
    border-radius: 1rem;
    border: none;
  }
  #new-btn {
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffc7;
    border-radius: 1rem;
    border: none;
  }
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .hide {
    display: none;
  }
  #board-size{
    background-color: #ffffc7;
    border: none;
    text-align: center;
  }
  .label{
    font-size: medium;
}
  #player-1-symbol{
    background-color: #ffffc7;
    border: none;
    text-align: center;
  }
  #player-2-symbol{
    background-color: #ffffc7;
    border: none;
    text-align: center;
  }
  .game-board {
    display: grid;
    gap: 5px;
    /* background-color: #3e3a35; */
    padding: 0.2rem;
    border:none;
  }
  